<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My add Word page</title>
      </head>
      <body>
        <h1>Add Word</h1>
        {% if error_message1 %}<p><strong>{{ error_message1 }}</strong></p>{% endif %}
        {% if error_message2 %}<p><strong>{{ error_message2 }}</strong></p>{% endif %}
        <form action="{% url 'vocab:submit' %}" method="post">
            {% csrf_token %}  
            <label>Word:</label> 
            <input type="text" name="word"><br>
            <label>Meaning:</label> 
            <input type="text" name="mean"><br>
            <label>Select Type:</label> 
              <select id="wordType" name='type' >
                <option value="Noun">Noun</option>
                <option value="Pronoun">Pronoun</option>
                <option value="Verb">Verb</option>
                <option value="Adjective">Adjective</option>
                <option value="Adverb">Adverb</option>
                <option value="Conjunction">Conjunction</option>
                <option value="Interjection">Interjection</option>
              </select>
              <br>
            <input value="Store"type="submit">
        </form>
        <a href="{% url 'vocab:index' %}"><input type=button value="Menu" ></a>
      </body>
</html>          

