<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My add Word page</title>
      </head>
      <body>
        <h1>Add Word</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'vocab:submit' %}" method="post">
            {% csrf_token %}  
            <label>Word:</label> 
            <input type="text" name="word"><br>
            <label>Mean:</label> 
            <input type="text" name="mean"><br>
            <label>Select Type:</label> 
              <select id="wordType" name='type' >
                <option value="Noun">Noun</option>
                <option value="Pronoun">Pronoun</option>
                <option value="Verb">Verb</option>
                <option value="Adjective">Adjective</option>
                <option value="Adverb">Adverb</option>
                <option value="Conjunction">Conjunction</option>
                <option value="Interjection">Interjection</option>
              </select>
              <br>
            <input value="Submit"type="submit">
        </form>
        <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
      </body>
</html>          

